<!-- Index.cshtml -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Custom Header Value: @ViewBag.CustomHeader</p>
    <p>Custom Header Value Using HttpContext Items: @ViewBag.Data</p>
</div>
